.App {
  text-align: center;
}

.App-img {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-img {
    animation: Center-img 1 0.5s ease;
  }
}

.App-header {
  background-color: #bbdae2;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: gray solid 2px;
  color: black;
}

.App-link {
  color: black;
}

@keyframes Center-img {
  from {
    transform: translateY(-100vmin);
  }
  to {
    transform: translateY(0vmin);
  }
}

.App-contents {
  background-color: #bbdae2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
